<header class='main'>
  <section class="our-page">
    <div class='left-rail'>&nbsp;</div>
    <div class="center-rail">
      <div id='branding'><a href="/">Bob Gilmore</a></div>
      <div class="header-links">
        <a href="/">Home</a>
        <a href="/archive.html">Archive</a>
        <a href="/topics.html">Topics</a>
        <a href="/contact.html">Contact</a>
        <a href="/site.html">Site</a>
        <a href="/feed.xml"><img class='social-media-link' src='/img/Feed-icon.svg' alt='RSS Feed'/></a>
        <a href="https://github.com/bobgilmore" target="_blank"><img class='social-media-link' src='/img/GitHub-Mark-32px.png' alt='GitHub'/></a>
        <a href="http://stackoverflow.com/users/887124/bob-gilmore" target="_blank"><img class='social-media-link' src='/img/so-icon.png' alt='StackOverflow'/></a>
        <a href="https://twitter.com/bob_gilmore" target="_blank"><img class='social-media-link' src='/img/Twitter_logo_blue.png' alt='Twitter (@bob_gilmore)'/></a>
        <a href="http://www.linkedin.com/profile/view?id=3576179&trk=nav_responsive_tab_profile" target="_blank"><img class='social-media-link' src='/img/InBug-16px_0.png' alt='LinkedIn'/></a>
      </div>
    </div>
    <div class='right-rail'>&nbsp;</div>
  </div>
</header>
