<header class='main'>
  <section class="our-page">
    <div class='left-rail'>&nbsp;</div>
    <div class="center-rail">
      <div id='branding'><a href="/">Bob Gilmore</a></div>
      <div class="header-links">
        <a href="/">Home</a>
        <a href="/archive.html">Archive</a>
        <a href="/tags/index.html">Tags</a>
        <a href="/contact.html">Contact</a>
        <a href="/site.html">Site</a>
        <a href="http://share.bobgilmore.name/bob_gilmore_resume.pdf">R&eacute;sum&eacute;</a>
        <a href="https://github.com/bobgilmore" target="_blank"><img class='social-media-link' src='/img/GitHub-Mark-32px.png' alt='GitHub'/></a>
        <a href="http://stackoverflow.com/users/887124/bob-gilmore" target="_blank"><img class='social-media-link' src='/img/so-icon.png' alt='StackOverflow'/></a>
        <a href="http://microblog.bobgilmore.name" target="_blank"><img class='social-media-link' src="https://cdn.micro.blog/images/icons/favicon_32.png" alt="Follow me on Micro.blog"/></a>
        <a href="https://www.linkedin.com/in/robertcgilmore/" target="_blank"><img class='social-media-link' src='/img/InBug-16px_0.png' alt='LinkedIn'/></a>
      </div>
    </div>
    <div class='right-rail'>&nbsp;</div>
  </div>
</header>
