<!doctype html>
<html xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://micro.blog/bobg" rel="me" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <title>{{ page.title }}</title>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46328521-1', 'bobgilmore.name');
    ga('send', 'pageview');

    </script>

  </head>
  <body>
    {% include header.html %}
    <section class="our-page">
      <div class="left-rail">&nbsp;</div>
      <div class="center-rail" >
        {{ content }}
      </div>
      <div class="right-rail">&nbsp;</div>
    </section>
  </body>
</html>
